.card {
  padding: 40px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: 2%;
  transition: 0.1s ease-in-out;
  width: 100%;

  &:hover {
    background-color: black;
    color: white;
  }

  &__summary {
    margin: 0;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__info {
    display: block;
    font-style: italic;
    color: rgb(172, 84, 49);
  }

  &__img {
    object-fit: cover;
    width: 100%;
    margin: 20px 0;
    height: 400px;

    @media screen and (max-width: 991px) {
      height: auto;
    }
  }
}



