.context {
  padding: 50px 0;

  .list {
    padding: 20px;

    &__item {
      border-radius: 3px;
      padding: 20px;
      margin-bottom: 10px;

      p {
        margin: 0;
      }
    }
  }
}

.toggle-btn {
  display: block;
  border-radius: 3px;
  border: 0;
  background-color: #cc5500;
  color: white;
  margin: 0 auto 40px;
  padding: 8px 15px;
  outline: 0 !important;
}