.form {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  height: 100%;

  @media screen and (max-width: 767px) {
    margin: 0 10px;
  }

  form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    margin: auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
  }

  &__input {
    display: block;
    min-width:  100%;
    margin: 15px 0;
    padding: 10px 8px;
    // height: 50px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: 0;
  }

  &__cta {
    background-color: rgb(153, 1, 1);
    color: white;
    outline: 0 !important;
    border: 0;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    font-size: 25px;
    padding: 10px 40px;
    margin-top: 40px;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
      background-color: rgb(123, 133, 35);
    }
  }

  &__err {
    text-align: center;
    padding: 20px;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    margin-top: 20px;
  }
}