.project {
  padding: 80px 0;

  &__title {
    font-size: 42px;
  }

  &__link {
    font-size: 25px;
    color: grey;
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  &__summary {
    margin: 20px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
  }

  &__info {
    display: block;
    font-style: italic;
    color: rgb(172, 84, 49);
  }

  &__img {
    object-fit: cover;
    width: 100%;
    margin: 20px 0;
  }
}