.project-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  // width: 100%;

  &__item {
    width: 49.5%;

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
}