.links {
  align-items: center;
  list-style: none;
  display: flex;
  margin: 0;

  &__item {
    display: block;
    color: white;
    margin: 0 15px;
    text-decoration: none !important;
    text-align: center;
    font-size: 18px;

    &:hover {
      color: black;
    }
  }

  &__active {
    color:  rgb(141, 197, 38);
  }

  &__state {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(109, 145, 43);
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
}

.nav {
  background-color: rgb(66, 81, 121);

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__links {
    align-items: center;
    display: flex;
  }

  &__icon {
    color: white;
    font-size: 70px;
    animation: rotate 5s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
